body{
    background-image: linear-gradient(to left, rgba(247, 229, 208, 0.438), rgba(245, 234, 218, 0.432));
}

.btn-outline-success{
    color: white;
    border-color: white;
}

.btn-outline-success:hover{
    background-color: grey;
    border: grey;
}

.ancho{
    width: 350px;
    margin: 0 auto;
}

.blanco{
    color: white;
}

.margen{
    margin: 25px;
}

.negro{
    background-color: black;
    border: black;
    color: white;
}

.negro:hover{
    background-color: white;
    color: black;
    border: black;
}